<!doctype html>
<html lang="fr">
    <head>
        {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" 
        href="{{ url_for('static', filename='home.css') }}">
        <title>{{ title }}</title>
        {% block styles %}
<!-- Bootstrap CSS -->
        {{ bootstrap.load_css() }}

        {% endblock %}
        {% endblock %}

    </head>
    <body>
      <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">Fixed navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{{ url_for('home') }}">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{{ url_for('books_author') }}">Library</a>
                </li>
                {% if not (current_user.is_authenticated) %}
                  <li class="nav-item">
                    <a class="nav-link active" href="{{ url_for('login')}}">login</a>
                  </li>
                {% endif %}
                {% if current_user.is_authenticated %}
                  <li>
                    <a class="nav-link">{{ current_user.username }}</a></li>
                  <li>
                    <a class="nav-link active" href="{{ url_for('logout') }}">Logout </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="{{ url_for('profil') }}">
                      Profil
                    </a>
                  </li>
                {% endif %}                   
              </ul>
              <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
            </div>
          </div>
        </nav>
      </header>
      <h1>{{ title }}</h1>
      {% block main %}{% endblock %}
      <main class="flex-shrink-0">
          <div class="container">
              {% block content %}{% endblock %}
          </div>
      </main>
      <footer class="footer mt-auto py-3 bg-light">
        <div class="container">
          <!-- <span class="text-muted">Place sticky footer content here.</span> -->
          <div class="logo">
            <a href="{{ url_for('home')}}">
              <img src="../static/logo/Logo-INFO-Quadri.png" title="iut d'orléans">
            </a>
            <a href="https://www.univ-orleans.fr/">
              <img src="../static/logo/logo-univ-orleans_3.png" title="université d'orléans">
            </a>
          </div>
          <div class="footer-infos">
            <p>Projet TPFLASK IUT informatique</p>
            <p>Répertoire de livres</p>
            <p>© copyright</p>
          </div>
          <div class="credit">
            <label for="contributors">contributors</label>
            <ul id="contributors">
              <li>
                <a href="https://github.com/Kyxtaka">Nathan RANDRIANTSOA</a>
              </li>
              <li>
                <a href="https://github.com/clemencebc1">Clémence BOCQUET</a>
              </li>
            </ul>
          </div>
        </div>
      </footer>
      {% block scripts %}
      <!-- Optional JavaScript -->
      {{ bootstrap.load_js() }}
      {% endblock %}      
    </body>
</html>